{{ partial "header" . }}

<main>
    <div class="intro">
        <h1>{{ .Site.Title }}</h1>
        <main>{{ markdownify .Site.Params.Description }}</main>
        {{ with .Content }} <div class="homepage-content text-justify">{{ . }}</div> {{ end }}
    </div>
</main>

{{ partial "footer" . }}
