
<form onsubmit="calc_freeze(); return false" method="post"> <!-- post method is using to prevent parameters being added to the url -->

<div class="form-group">
<label for="start_temp" > Starting temperature \( T_{\text{start}} \)  in Celsius </label>
<input class="form-control" type="number" id="start_temp" name="start_temp" required="required">
</div>

<div class="form-group">
<label for="end_temp">Desired temperature \( T_{\text{desired}} \) in Celsius</label>
<input class="form-control" type="number" id="end_temp" name="end_temp" required="required">
</div>

<div class="form-group">
<label for="freezer_temp">Freezer/fridge temperature \( T_{\text{freezer}} \) in Celsius</label>
<input class="form-control" type="number" id="freezer_temp" name="freezer_temp" required="required">
</div>

<div class="form-group">
<!-- The following are hard-coded "volume[mL],area[m^2]" values which are parsed in js -->
<label for="container">Container</label>
<select class="form-control" id="container" name="container" > <!-- the following comments are dimensions in width,height both millimeter -->
  
  <option value="330,0.0309">Standard EU beer can/bottle (330 mL)</option> <!-- 66.2,115.5 -->
  <option value="500,0.0418">Large EU beer can/bottle (500 mL)</option> <!-- 66.3, 168 -->
  <option value="250,0.0269">Small EU beer can/bottle (250 mL)</option> <!-- 53.3,134 -->
  <option value="1980,0.167">6-pack standard EU beer can (6x330 mL)</option> <!-- approximated as 6x330 mL minus 10% -->
  
  <option value="700,0.0473">Standard booze bottle (700 mL)</option> <!-- 70,180 -->
  <option value="1000,0.0603">Large booze bottle (1000 mL)</option> <!-- 80,200 --> 
  
  <!-- these are approximated as simple cylinders for now, might add wine bottle type (bordeaux, alsace, burgundy, champagne etc) later -->
  <option value="750,0.049">Standard wine bottle (750 mL)</option> <!-- 75,170 -->
  <option value="375,0.032">Half-size wine bottle (375 mL)</option> <!-- 55,160 -->
  <option value="1500,0.079">Magnum wine bottle (1500 mL)</option> <!-- 90,235 --> 

  <option value="500,0.037">Plastic bottle (500 mL) </option> <!-- 65,150 -->
  <option value="750,0.049">Plastic bottle (750 mL) </option> <!-- 75,170 -->
  <option value="1000,0.060">Plastic bottle (1000 mL) </option> <!-- 80,200 -->
  <option value="1500,0.079">Plastic bottle (1500 mL) </option> <!-- 90,235 -->
  <option value="2000,096">Plastic bottle (2000 mL) </option> <!-- 100,255 -->

</select>

</div>

<div class="form-group">
<label for="alcohol_percent">Optional: alcohol percentage by volume</label>
<input class="form-control" type="number" min="0" max="100" id="alcohol_percent" name="alcohol_percent">
</div>

<div class="form-group">
<label for=container_material>Container volume and material</label>
<div class="radio">
    <label>
        <input type="radio" id="plastic" name="container_material" value="plastic" checked>
        Plastic
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" id="glass"  name="container_material" value="glass">
        Glass 
    </label>
</div>

<div class="radio">
    <label>
        <input type="radio" id="aluminum"  name="container_material" value="aluminum" >
        Aluminum 
    </label>
</div>

</div>

<div class="form-group">
<button name="submit" type="submit" class="btn">Calculate</button>
</div>

</form>

<script src="src/IceCold.js"></script>

<span id="freeze_time"></span> 

