html, body {
    height: 100%;
	font-weight: 400;
}

body {
    padding-top: 55px;
    display: flex;
    text-align: center;
    flex-direction: column;
}

main {
    margin: auto;
    padding: 25px;
    flex: 1 0 auto;
    max-width: 750px;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
    display: flex;
    margin: auto;
}

h1, h2, h3 {
	font-weight: 500;
}

/* Homepage */

.intro {
    transform: translateY(2vh); 
}

.intro > h1 {
    color: #000000;
    font-size: 6vmin;
}

.intro > h2 {
    color: #000000;
    font-size: 6vmin;
}

/* Page content */

.content {
    padding-top: 25px;
    text-align: start; /* phj make content left-justified */
    font-size: 1.5rem;

}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

content a:link {
  color: blue;
}

content a:visited {
  color: purple;
}

content a:active {
  color: red;
}

/* Copyright message */

.copyright {
    margin: 15px 0;
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

.item-tag {
    background-color: var(--accent);
}

/* Navigation icons */

.navbar-icon {
    font-size: 125%;
    display: inline-block !important;
}

/* Colored borders at top/bottom of page */

.navbar.navbar-default {
    border-top: var(--border-width) solid var(--accent);
    font-size: 120%;
}

footer {
    border-bottom: var(--border-width) solid var(--accent);
}

/* remove increment/decrement buttons in html form */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

/* remove increment/decrement buttons in html form */
input[type=number] {
  -moz-appearance: textfield;
}

.video-shortcode {
  max-width: 100%;
  height: auto;
}

/* only two columns in menu on mobile devices.
 * the width is in "real" pixels, so like 1/3 of the actual device */
@media all and (max-width: 1199px) {
    .container > div > ul {
    column-count: 2;
    column-gap: 10px;
    justify-content: center;
    text-align: center;
    }
    
    /* centering the three contact icons */
    .container > div > ul.nav.navbar-nav.navbar-right {
        display: flex;
    }
}

/* force mobile layout also on large mobile devices (up to 1200px wide), 
 * also in landscape */
@media (max-width: 1199px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .navbar-brand {
        display: block!important;
    }
}

/* center generated QR code in footer, matching by alt (probably not the most efficient) */
img[alt="Scan this QR code"] {
    display: flex;
    margin: auto;
    padding: 10px;
}

/* color of "opened" button */
.btn-opened {
    background-color: lightblue !important;
}

/* make IceCold forms not fill to width on desktop devices */
@media (min-width: 1199px) {
	.form-control {
		max-width: 50%;
		display: flex;
	}
}

/* fix mathjax subscript text rendering in safari */
mjx-utext {
      width: initial !important;
}

/* fixes IceCold calculate button color on iOS (which was blue, probably as it is of type "submit") */
.btn {
	background-color: #e9e9ed;
}

/* fixes too much zoom on iOS when not giving IceCold (bootstrap) form all required parameters */
/* https://stackoverflow.com/a/64432869 */

@media screen and (-webkit-min-device-pixel-ratio: 2) {
    select,
    select:focus,
    textarea,
    textarea:focus,
    input,
    input:focus {
		font-size: 16px;
    }
}
