<style>

	@font-face {
		font-family: "Open Sans";
		font-style: normal;
  		font-weight: 400;
		src: local("Open Sans"), url("/fonts/open-sans/open-sans-latin-400-normal.woff2") format("woff2");
		font-display: swap;

	}

	@font-face {
		font-family: "Open Sans";
		font-style: italic;
  		font-weight: 400;
		src: local("Open Sans"), url("/fonts/open-sans/open-sans-latin-400-italic.woff2") format("woff2");
		font-display: swap;

	}

	@font-face {
		font-family: "Open Sans";
		font-style: normal;
  		font-weight: 500;
		src: local("Open Sans"), url("/fonts/open-sans/open-sans-latin-500-normal.woff2") format("woff2");
		font-display: swap;

	}

    html body {
		font-family: "Open Sans", sans-serif;
        background-color: {{ .Site.Params.backgroundColor | default "white" }};
    }

    :root {
        --accent: {{ .Site.Params.accent | default "#2196F3" }};
        --border-width: {{ if .Site.Params.showBorder | default false }} 5px {{ else }} 0{{ end }};
    }

</style>

<!-- small script to change accent (border) based on weekday.
For some reason, the week starts at index 0 with sunday, 
so index 0 and 6 are swapped in the dayColors array. -->
<script>
    var dayNumber = new Date().getDay();
    var dayColors = ["#070040", "#1b00ff", "#1800df", "#1400bf", "#11009f", "#0e0080", "#0a0060"]

    var dayColor = dayColors[dayNumber]

    document.documentElement.style.setProperty("--accent", dayColor)
</script>

<!-- custom -->
<!-- {{ range .Site.Params.css }} <link rel="stylesheet" href="{{ . | absURL }}"> {{ end }} -->

<!-- bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous" referrerpolicy="no-referrer">

<!-- font awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha384-SOnAn/m2fVJCwnbEYgD4xzrPtvsXdElhOVvR8ND1YjB5nhGNwwf7nBQlhfAwHAZC" crossorigin="anonymous" referrerpolicy="no-referrer">

<!-- main (custom) css -->
<link rel="stylesheet" href="{{ "css/main.css" | absURL }}">

