        <footer>
            <p class="copyright text-muted">
                {{ .Site.Params.copyright | default "Content is licensed as [CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/) and code is licensed as [LGPL 3](https://www.gnu.org/licenses/lgpl-3.0.html) unless otherwise noted." | markdownify }}
                <button class="btn enc-btn" style="vertical-align: baseline !important; padding: 2pt 4pt !important" onclick="showQR()">QR Code</button>
                <div id="qrcode" style="display:none;"></div>
            </p> 
        </footer>

        {{ partial "body-close" . }}
        
    </body>

    <!-- change button color when clicked -->
    <script>
        const btn = document.querySelector(".btn");
        btn.addEventListener("click" , () => {
            btn.style.backgroundColor = '#e9e9ed';
        })
    </script>

</html>
