<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        {{ partial "head-open" . }}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ .Title }}</title>
        {{ if .Site.Params.favicon }}
            <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
        {{ end }}
        {{ partial "css" . }} {{ partial "js" . }} {{ hugo.Generator }}

        {{ if .Params.mathjax | default false }}
            <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.min.js" integrity="sha384-M5jmNxKC9EVnuqeMwRHvFuYUE8Hhp0TgBruj/GZRkYtiMrCRgH7yvv5KY+Owi7TW" crossorigin="anonymous" referrerpolicy="no-referer"></script>
        {{ end }}

        <script>
            function showBackground() {
                var T = document.getElementById("background"),
                displayValue = "";
                if (T.style.display == "")
                displayValue = "none";
                T.style.display = displayValue;
            }
        </script>

        <script>
            function showQR() {
                var T = document.getElementById("qrcode"),
                displayValue = "";
                if (T.style.display == "")
                displayValue = "none";
                T.style.display = displayValue;

                /*-- only load qrcode.min.js and generate and show QR code if it does not exist already */
                if (document.all.qrcode.getElementsByTagName("img").length == 0) { 
                    $.getScript("/qrcode.min.js", function() {
                        var qrcode = new QRCode(document.getElementById("qrcode"), window.location.href);
                    });
                }
            }
        </script>

        <!-- change button color when clicked -->
        <script>
            function btnclick(event) {
              event.target.classList.toggle('btn-opened')
            }
            // Adding individual listeners is inefficient, this would more correctly be done with event delegation
            document.addEventListener('DOMContentLoaded', function() {
              for(let button of document.getElementsByClassName('enc-btn'))
                button.addEventListener('click', btnclick);
            })
        </script>

        {{ partial "head-close" . }}
    </head>

    <body>
        {{ partial "body-open" . }}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
					<!-- if not homepage, only use first word from title in navbar -->
					<a class="navbar-brand visible-xs" href="#">{{ if not .IsHome }} {{ index (findRE `\w+` .Title) 0 }} {{ else }} {{ .Title }} {{ end }}</a>
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" aria-label="menu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    {{ if .Site.Menus.main }}
                        <ul class="nav navbar-nav">
                            {{ range sort .Site.Menus.main }}
                                <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                    {{ if .Site.Menus.icon }}
                        <ul class="nav navbar-nav navbar-right">
                            {{ range sort .Site.Menus.icon }}
                                <li class="navbar-icon"><a href="{{ .URL }}"><i class="{{ .Name }}"></i></a></li>
                            {{ end }}
                        </ul>
                    {{ end }}
                </div>
            </div>
        </nav>
